<app-template-header></app-template-header>
<div class="list-view">
    <h4>Noch zu kaufende Artikel <span>(2)</span></h4>
    <div class="tobuy-elements">
        <app-template-tobuy></app-template-tobuy>
        <app-template-tobuy></app-template-tobuy>
        <app-template-tobuy></app-template-tobuy>
        <app-template-tobuy></app-template-tobuy>
        <app-template-tobuy></app-template-tobuy>
    </div>
    <app-template-tobuy-form></app-template-tobuy-form>
    <h4>Bereits vorhandene Artikel <span>(2)</span></h4>
    <div class="tobuy-elements">
        
    </div>
</div>

